@model TruckApplication.Models.Entity.TruckEntity

@{
    ViewData["Title"] = "Create Truck";
}

<h1>Create Truck</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="hidden" id="oldmodelid" />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label">Model</label>
                <select name="ModelId" id="modelid" class="form-control" asp-items="@(new SelectList(ViewBag.listOfmodels,"Id","Description"))" onchange="javascript: validate()" required>
                    <option value="">--Please Select--</option>
                </select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfFactory" class="control-label">Year of factory</label>
                <input asp-for="YearOfFactory" class="form-control" value="@ViewBag.yearOfFactory" required />
                <span asp-validation-for="YearOfFactory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfModel" class="control-label">Year of model</label>
                <input asp-for="YearOfModel" class="form-control" value="@ViewBag.yearOfModel" required />
                <span asp-validation-for="YearOfModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function validate() {
        var model = document.getElementById("modelid");
        var selectedText = model.options[model.selectedIndex].text;

        if (selectedText !== "FH" && selectedText !== "FM") {
            alert("It's not possible select values diferent from FH and FM!");
            document.getElementById("modelid").value = document.getElementById("oldmodelid").value;
        }
        else
        {
            document.getElementById("oldmodelid").value = model.options[model.selectedIndex].value;
        }
    }    
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
